.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 5vh;
    background: #ffffff;
}



.header-title {
    cursor: pointer;
	align-items: center;
    margin: 10rem ;
}
