.content {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
  }

  .form {
	background-color: white;
	border-radius: 10px;
	padding: 2rem;
	min-width: 80%;
	margin: 2rem;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .title {
	color: #00a278;
  }

  .secondary-action {
	padding: 1rem 0;
  }

  .link {
	font-weight: 700;
	text-decoration: none;
	color: #C5DCFA;
  }

  .link:focus {
	color: #C5DCFA;
  }

  .link:active {
	color: #45c09f;
  }

  .link:visited {
	color: #45c09f;
  }

  #button-sub  {
	  color: #0A3977 !important;
	  background-color: #C5DCFA !important;
	  width: 25%;
	  margin-right: 15% !important;
	  margin-left: auto !important;
	  margin-top: 0.5rem !important;
  }

  .page-content{
	width :80%;
	text-align: center;
	margin-left: 5%;
	font-size: 1rem;
	margin-bottom: 2rem;
}

  .page-name{
	  width :80%;
	  height: 2rem;
	  background-color: #C5DCFA;
	  text-align: center;
      margin-left: 5%;
  }

  #custom-button {
	  margin-top:0.2rem;
	  border: none;
	  background-color: white;
	  font-size: 1rem;
	  font-weight:bold;

  }

  @media screen and (min-width: 768px) {
	.content {
	  display: flex-end;
	}

	.form {
	  min-width: 24rem;
	}
  }
